<script>
	export const name = 'App';

	import { onMount } from 'svelte';
	import { fade } from 'svelte/transition';
	import distance from "./geohelpers"
	import axios from 'axios';
	import L from 'leaflet';
	import 'leaflet/dist/leaflet.css';

	const centre = [-33.953047, 151.141381];
	// const zoom = 9;
	const zoom = 18;
	let youmarker = null;
	let clickshow = true;
	let STATES = {
		DISTANT: 'DISTANT',
		CLOSE: 'CLOSE',
		NOLOC_DISTANT: 'NOLOC_DISTANT',
	};
	console.info("LOADING");
	let state = STATES.DISTANT;
	const params = new URLSearchParams(window.location.search);
	let auth = params.get("auth");
	let authorised = params.has("auth") && (params.get("auth").startsWith("taco"));

	console.log(process.env.API_BASE);

	const MARKER = L.icon({
		iconUrl: 'marker.png',
		// shadowUrl: 'leaf-shadow.png',

		iconSize:     [36, 36], // size of the icon
		//shadowSize:   [50, 64], // size of the shadow
		iconAnchor:   [18, 36], // point of the icon which will correspond to marker's location
		// shadowAnchor: [4, 62],  // the same for the shadow
		popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
	});

	onMount(() => {
		var mymap = L.map('mapid', {
			zoomControl: false,
			doubleClickZoom: false
		}).setView(centre, zoom);

		mymap.dragging.disable();

		L.tileLayer(process.env.API_BASE + '/map/styles/v1/{id}/tiles/{z}/{x}/{y}', {
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			maxZoom: zoom,
			minZoom: zoom,
			id: 'mapbox/light-v9',
			tileSize: 512,
			zoomOffset: -1,
		}).addTo(mymap);

		L.circle(centre, {
			color: '#000000',
			fillColor: '#b5b5b5',
			fillOpacity: 0.5,
			radius: 50
		}).addTo(mymap);

		youmarker = L.marker(centre, {icon: MARKER}).addTo(mymap);

		const options = {
			enableHighAccuracy: true,
			timeout: 5000,
			maximumAge: 0
		};

		navigator.geolocation.watchPosition(updateYou, noLocation, options);
	});

	function noLocation(err) {
		console.info("No location - ", err);
		if (state === STATES.DISTANT) {
			state = STATES.NOLOC_DISTANT;
		}
	}

	function updateYou(position) {
		let r = distance(position.coords.latitude, position.coords.longitude, centre[0], centre[1], "K");
		console.info("Position & distance", position, r);
		youmarker.setLatLng([position.coords.latitude, position.coords.longitude]);

		if (r < 0.05) {
			goClose()
		}
	}

	function goClose() {
		console.info("Going close");
		state = STATES.CLOSE;
	}

	function flash() {
		console.info("Flashing...");
		const params = new URLSearchParams(window.location.search);
		clickshow = false;
		console.log(process.env.API_BASE + '/flash?auth=' + auth);
		axios.post(process.env.API_BASE + '/flash?auth=' + auth)
				.then(function() {clickshow=true}).catch(function() {clickshow=false});
	}

	function letMeIn() {
		console.log("OKLETINNOWOK")
	}
</script>

<main>
	{#if authorised}
		{#if state === STATES.NOLOC_DISTANT || state === STATES.DISTANT}
			<div id="mapid" class="header"></div>

			<div class="footer">
				<h1>GO DOWN PITT LANE</h1>
				<h2 on:click={goClose}>click when you're pretty close</h2>
			</div>
		{:else}
			<div class="header">
				<div id="housepic"></div>
			</div>
			<div class="footer">
				<h1>LOOK FOR THIS HOUSE</h1>
				{#if clickshow}
					<h2 on:click={flash}>click here to flash lights</h2>
				{:else}
					<h2>flashing...</h2>
				{/if}
			</div>
		{/if}
	{:else}
		<h1>Enter password</h1>
		<form action="/" method="get">
			<input type="text" name="auth"> <input type="submit" value="Let me in you swine!">
		</form>
	{/if}
</main>

<style>
	main {
		text-align: center;
		margin: 0 auto;
		background-color: #333333;
	}

	h1 {
		text-transform: uppercase;
		font-size: 4em;
		color: #cccccc;
		font-weight: 100;
	}

	h2 {
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}

	.header {
		height: 70vh;
	}

	.footer {
		height: 30vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.footer h1 {
		padding: 0;
		margin: 0;
		font-size: 7vw;
		color: #cccccc;
	}

	.footer h2 {
		padding: 0;
		margin: 0;
		font-size: 3vw;
		color: #cccccc;
	}

	#housepic {
		background-image: url("/house.jpg");
		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;
	}
</style>